* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-body {
    margin: 0 auto;
    margin-top: 64px;
    width: 400px;
    height: 600px;
    background-color: #0B5499;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-top: 32px;
}

.border-lines {
    margin: 0 4px;
    border-top: solid #0F2F42 3px;
    border-bottom: solid #1066A5 3px;
}

.calculation-box-border {
    background-color: #484E43;
    padding: 8px 10px;
    margin: 0 auto;
    width: 80%;
    border-top: solid #07334D 8px;
    border-bottom: solid #1066A5 4px;
}

.calculation-box {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #B2B2B2;
    height: 54px;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.expression-text {
    font-family: "Press Start 2P", system-ui;
    font-size: 32px;
    letter-spacing: -2px;
}

.decoration {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 16px;
}

.title {
    color: white;
    letter-spacing: 1px;
}

.solar-panel {
    margin-top: 12px;
    display: flex;
    border-top: solid #010504 4px;
    border-left: solid #010504 4px;
    width: 87%;
    height: 50px;
}

.box1, .box2, .box3, .box4 {
    background-color: #1A1F1D;
    width: 100%;
}

.box1, .box2, .box3 {
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #010504;
}

.model-container {
    display: flex;
}

.model {
    margin: 0;
    padding: 0;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    align-items: start;
    line-height: 30px;
    color: white;
    padding-left: 24px;
    letter-spacing: 4px;
}

.groove {
    margin: 8px 4px;
    background-color:#09385B;
    height: 3px;
}

.calculator-btns-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 16px;
    height: 340px;
    border: solid #09385B 3px;
    border-radius: 8px;
}

.left-side-container {
    display: block;
    width: 230px;
    margin-left: 6px;
    margin-top: 6px;
    height: 324px;
    color: #263555;
}

.right-side-container {
    width: 70px;
    display: block;
    margin-top: 6px;
    margin-right: 6px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.white-btn {
    font-weight: bold;
    font-size: 24px;
    border: none;
    width: 70px;
    height: 45px;
    color: #263555;
    border-top: solid #1B0F1B 4px;
    border-left: solid #1B0F1B 4px;
    border-radius: 4px;
}

.red-btn {
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 70px;
    height: 45px;
    background-color: #C92E3A;
    color: white;
    border-top: solid #1B0F1B 4px;
    border-left: solid #1B0F1B 4px;
    border-radius: 4px;
}

.lg-red-btn {
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 70px;
    height: 100px;
    background-color: #C92E3A;
    color: white;
    border-top: solid #1B0F1B 4px;
    border-left: solid #1B0F1B 4px;
    border-radius: 4px;  
}

.mt {
    margin-top: 10px;
}